flows.json
[
    {
        "id": "cc93c49d.4067d",
        "type": "tab",
        "label": "Annie",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9225475d.b072a8",
        "type": "tab",
        "label": "Conversation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10caedca.dce192",
        "type": "tab",
        "label": "Entity Extraction",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84948027.4a9b98",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dfb67c44.86358",
        "type": "subflow",
        "name": "translate",
        "info": "",
        "in": [
            {
                "x": 180,
                "y": 300,
                "wires": [
                    {
                        "id": "f78ec6d7.8fa28"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 440,
                "wires": [
                    {
                        "id": "4ac7d03c.f887e8",
                        "port": 0
                    },
                    {
                        "id": "4ef11726.b98eb8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "eef12b42.be3b6",
        "type": "subflow",
        "name": "wikipedia",
        "info": "",
        "in": [
            {
                "x": 240,
                "y": 200,
                "wires": [
                    {
                        "id": "a146077d.bd0ae"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "56ef5dbc.b11814",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2d7926a0.1ca412",
        "type": "http request",
        "z": "dfb67c44.86358",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "ef551beb.d261f"
            ]
        ]
    },
    {
        "id": "f78ec6d7.8fa28",
        "type": "function",
        "z": "dfb67c44.86358",
        "name": "",
        "func": "msg.payload = {\n    text: msg.payload,\n    dest_lang: msg.lang,\n    apiKey: \"AIzaSyArjnwR1zm8C9Pt1dVMsGrCEWitUxZXVMs\"\n  \n};\n\nmsg._payload = msg.payload;\nif(!msg.payload.src_lang && !Array.isArray(msg.payload.text)){\n    var bigtext = msg.payload.text.split(\"\\n\");\n    if(bigtext.length > 1) {\n        msg.detect = false;\n    }else{\n        msg.detect = true;\n    }\n}else{\n    msg.detect = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "57553409.a27364"
            ]
        ]
    },
    {
        "id": "57553409.a27364",
        "type": "switch",
        "z": "dfb67c44.86358",
        "name": "",
        "property": "detect",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "40763aa7.c5530c"
            ],
            [
                "f70d10b6.1a0a5"
            ]
        ]
    },
    {
        "id": "40763aa7.c5530c",
        "type": "function",
        "z": "dfb67c44.86358",
        "name": "",
        "func": "var q = \"?q=\" + encodeURIComponent(msg.payload.text);\nvar key = \"&key=\" + msg.payload.apiKey;\nmsg.url='https://translation.googleapis.com/language/translate/v2/detect'+q+key;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "2d7926a0.1ca412"
            ]
        ]
    },
    {
        "id": "ef551beb.d261f",
        "type": "function",
        "z": "dfb67c44.86358",
        "name": "",
        "func": "msg._payload.src_lang = msg.payload.data.detections[0][0].language;\nmsg._payload.src_lang_conf = msg.payload.data.detections[0][0].confidence;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "a716ac3d.c6c13"
            ]
        ]
    },
    {
        "id": "f70d10b6.1a0a5",
        "type": "function",
        "z": "dfb67c44.86358",
        "name": "",
        "func": "if(msg._payload.src_lang == msg._payload.dest_lang) {\n    msg._payload.translation = msg._payload.text;\n    return msg;\n}\nvar key = \"?key=\"+msg._payload.apiKey;\nvar q = \"&q=\" + encodeURIComponent(msg._payload.text);\nvar t = \"&target=\"+msg._payload.dest_lang;\n\n\nmsg.url = 'https://translation.googleapis.com/language/translate/v2'+key;\nmsg.payload = {\n    q: msg._payload.text,\n    target: msg._payload.dest_lang\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "d15cdd07.1c31e"
            ]
        ]
    },
    {
        "id": "1dd420f0.508d97",
        "type": "http request",
        "z": "dfb67c44.86358",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "8da96c5d.1ab1c"
            ]
        ]
    },
    {
        "id": "8da96c5d.1ab1c",
        "type": "function",
        "z": "dfb67c44.86358",
        "name": "",
        "func": "if(Array.isArray(msg._payload.text)){\n    msg._payload.translation = [];\n    for(var i in msg.payload.data.translations){\n        msg._payload.translation.push(msg.payload.data.translations[i].translatedText);\n    }\n    if(msg._payload.join) msg._payload.translation = msg._payload.translation.join(\"\\n\");\n}else{\n    msg._payload.translation = msg.payload.data.translations[0].translatedText;\n}\ntry{delete(msg._payload.apiKey);}catch(e){}\ntry{delete(msg._payload.join);}catch(e){}\n\nmsg.payload = msg._payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "4ef11726.b98eb8"
            ]
        ]
    },
    {
        "id": "e4fddc61.a98a18",
        "type": "link in",
        "z": "dfb67c44.86358",
        "name": "",
        "links": [
            "a716ac3d.c6c13"
        ],
        "x": 475,
        "y": 340,
        "wires": [
            [
                "f70d10b6.1a0a5"
            ]
        ]
    },
    {
        "id": "a716ac3d.c6c13",
        "type": "link out",
        "z": "dfb67c44.86358",
        "name": "",
        "links": [
            "e4fddc61.a98a18"
        ],
        "x": 995,
        "y": 280,
        "wires": []
    },
    {
        "id": "e81ac664.012478",
        "type": "inject",
        "z": "9225475d.b072a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "3fb89d88.89d05a"
            ]
        ]
    },
    {
        "id": "9d3f89ba.c8526",
        "type": "subflow:dfb67c44.86358",
        "z": "9225475d.b072a8",
        "name": "",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "19b25dd3.64b7a2"
            ]
        ]
    },
    {
        "id": "19b25dd3.64b7a2",
        "type": "watson-conversation-v1",
        "z": "9225475d.b072a8",
        "name": "",
        "workspaceid": "3766abf2-c2e9-4783-ae14-eb4710920fc9",
        "multiuser": true,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "15537081.72def7"
            ]
        ]
    },
    {
        "id": "10871cae.5e5ed3",
        "type": "link in",
        "z": "dfb67c44.86358",
        "name": "",
        "links": [
            "d15cdd07.1c31e"
        ],
        "x": 475,
        "y": 420,
        "wires": [
            [
                "a07f8abf.d7b668"
            ]
        ]
    },
    {
        "id": "d15cdd07.1c31e",
        "type": "link out",
        "z": "dfb67c44.86358",
        "name": "",
        "links": [
            "10871cae.5e5ed3"
        ],
        "x": 675,
        "y": 320,
        "wires": []
    },
    {
        "id": "a07f8abf.d7b668",
        "type": "switch",
        "z": "dfb67c44.86358",
        "name": "",
        "property": "_payload.src_lang",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "_payload.dest_lang",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "1dd420f0.508d97"
            ],
            [
                "4ac7d03c.f887e8"
            ]
        ]
    },
    {
        "id": "4ac7d03c.f887e8",
        "type": "function",
        "z": "dfb67c44.86358",
        "name": "",
        "func": "msg.payload = msg._payload.text;\nmsg.lang = 'pt';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4ef11726.b98eb8",
        "type": "change",
        "z": "dfb67c44.86358",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "_payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "_payload.translation",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lang",
                "pt": "msg",
                "to": "_payload.src_lang",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "15537081.72def7",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "",
        "func": "msg._conversation = msg.payload;\n\nvar multimsg = \"\";\n\nvar sne = false;\nmsg.search_wikipedia = false;\n\n/*try{\n    if(!msg.lang_conf){\n        msg._lang = msg.payload.context.user_lang || msg._lang;\n    }\n}catch(e){}*/\n\ntry{\n    sne = msg.payload.intents[0].intent == \"setnewentities\";\n}catch(e){}\n\ntry{\n    msg.search_wikipedia = msg.payload.output.text[0] == \"[search_wikipedia]\";\n    if(msg.search_wikipedia){\n        msg.payload = msg.payload.input.text;\n        return msg;\n    }\n}catch(e){}\n\nif(!sne && !msg.search_wikipedia) {\n    var msgs = msg.payload.output.text;\n    for (var i in msgs){\n        multimsg += msgs[i] + \"\\n\";\n    }\n    msg.payload = {\n      input: msg.payload.input.text,\n      output: multimsg\n    };\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "3af98dab.c398e2"
            ]
        ]
    },
    {
        "id": "175f2ae8.8706d5",
        "type": "switch",
        "z": "9225475d.b072a8",
        "name": "",
        "property": "search_wikipedia",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "978bf2f9.8a012"
            ],
            [
                "6a34114d.af0ae8"
            ],
            [
                "3463cd02.bb86ca"
            ]
        ]
    },
    {
        "id": "f0fc055c.0f58f8",
        "type": "http request",
        "z": "10caedca.dce192",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "1fe31678.09a1b2"
            ]
        ]
    },
    {
        "id": "8d4b755a.76c76",
        "type": "function",
        "z": "10caedca.dce192",
        "name": "",
        "func": "var entts = msg.payload.entities;\nmsg.payload = {};\n\nif(entts.person) {\n    msg.payload.name = entts.person[0];\n}\n\nif(entts.email) {\n    msg.payload.email = entts.email[0];\n}\n\nif(entts.phone) {\n    msg.payload.phone = entts.phone[0];\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "a2e998d.f984968"
            ]
        ]
    },
    {
        "id": "a2e998d.f984968",
        "type": "link out",
        "z": "10caedca.dce192",
        "name": "Conversation",
        "links": [
            "66d7b077.f1c4e8"
        ],
        "x": 915,
        "y": 180,
        "wires": []
    },
    {
        "id": "eedf0a50.2587c",
        "type": "link in",
        "z": "10caedca.dce192",
        "name": "Entity Extraction",
        "links": [
            "84680ae8.7f2e08"
        ],
        "x": 255,
        "y": 180,
        "wires": [
            [
                "4a6fd617.d59bc"
            ]
        ]
    },
    {
        "id": "1fe31678.09a1b2",
        "type": "json",
        "z": "10caedca.dce192",
        "name": "",
        "pretty": false,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "8d4b755a.76c76"
            ]
        ]
    },
    {
        "id": "4a6fd617.d59bc",
        "type": "function",
        "z": "10caedca.dce192",
        "name": "",
        "func": "msg.url = \"https://api.aylien.com/api/v1/entities\";\n\nmsg.headers = {\n    \"Content-type\": \"application/x-www-form-urlencoded\",\n    \"X-AYLIEN-TextAPI-Application-Key\": \"b9c29dd41fa0aa96f49aa496b27e6bdd\",\n    \"X-AYLIEN-TextAPI-Application-ID\": \"5e3372cf\"\n    \n}\n\nmsg.payload = {\n    text: msg.payload\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "f0fc055c.0f58f8"
            ]
        ]
    },
    {
        "id": "8838c56d.6bbb2",
        "type": "link in",
        "z": "9225475d.b072a8",
        "name": "",
        "links": [
            "3af98dab.c398e2"
        ],
        "x": 295,
        "y": 320,
        "wires": [
            [
                "175f2ae8.8706d5"
            ]
        ]
    },
    {
        "id": "3af98dab.c398e2",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "",
        "links": [
            "8838c56d.6bbb2"
        ],
        "x": 815,
        "y": 180,
        "wires": []
    },
    {
        "id": "ea308579.a3c7e8",
        "type": "http in",
        "z": "cc93c49d.4067d",
        "name": "",
        "url": "/annie",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "d2438e21.795e2"
            ]
        ]
    },
    {
        "id": "a4d888aa.6ea92",
        "type": "http response",
        "z": "cc93c49d.4067d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc5493dc.023a7",
        "type": "link in",
        "z": "cc93c49d.4067d",
        "name": "End",
        "links": [
            "6b2693c4.2e6da4",
            "3463cd02.bb86ca"
        ],
        "x": 555,
        "y": 220,
        "wires": [
            [
                "a4d888aa.6ea92"
            ]
        ]
    },
    {
        "id": "d2438e21.795e2",
        "type": "link out",
        "z": "cc93c49d.4067d",
        "name": "Begin",
        "links": [
            "2abcc9a7.b0a12e"
        ],
        "x": 335,
        "y": 160,
        "wires": []
    },
    {
        "id": "2abcc9a7.b0a12e",
        "type": "link in",
        "z": "9225475d.b072a8",
        "name": "Begin",
        "links": [
            "d2438e21.795e2",
            "3fb89d88.89d05a",
            "e7224026.ee72f",
            "27bdb01b.866f88"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "b369e0dc.d30ef8"
            ]
        ]
    },
    {
        "id": "3fb89d88.89d05a",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "Begin",
        "links": [
            "2abcc9a7.b0a12e"
        ],
        "x": 335,
        "y": 80,
        "wires": []
    },
    {
        "id": "66d7b077.f1c4e8",
        "type": "link in",
        "z": "9225475d.b072a8",
        "name": "Conversation",
        "links": [
            "a2e998d.f984968"
        ],
        "x": 295,
        "y": 200,
        "wires": [
            [
                "bb430033.631c68"
            ]
        ]
    },
    {
        "id": "bb430033.631c68",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "",
        "func": "function isObject(obj){\n   try{\n       return Object.keys(obj).length > 0;\n   }catch(e){\n       return false;\n   }\n}\n\nif(isObject(msg.payload)){\n    msg.additional_context = msg.payload;\n    msg.payload = \"set_new_entities\";\n    \n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "19b25dd3.64b7a2"
            ]
        ]
    },
    {
        "id": "978bf2f9.8a012",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "Weather",
        "links": [
            "39aca286.53e55e"
        ],
        "x": 495,
        "y": 280,
        "wires": []
    },
    {
        "id": "84680ae8.7f2e08",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "Entity Extraction",
        "links": [
            "eedf0a50.2587c"
        ],
        "x": 655,
        "y": 320,
        "wires": []
    },
    {
        "id": "6a34114d.af0ae8",
        "type": "change",
        "z": "9225475d.b072a8",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.input",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "84680ae8.7f2e08"
            ]
        ]
    },
    {
        "id": "c62d8950.3ff348",
        "type": "subflow:dfb67c44.86358",
        "z": "9225475d.b072a8",
        "name": "",
        "x": 1120,
        "y": 720,
        "wires": [
            [
                "6b2693c4.2e6da4"
            ]
        ]
    },
    {
        "id": "6b2693c4.2e6da4",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "End",
        "links": [
            "dc5493dc.023a7"
        ],
        "x": 1235,
        "y": 720,
        "wires": []
    },
    {
        "id": "958af7bc.bd9f9",
        "type": "link in",
        "z": "9225475d.b072a8",
        "name": "quase lá",
        "links": [
            "bf1c9ac9.18449",
            "72cb321a.630334",
            "13769d5f.22e8b3",
            "6aa4bf90.b232",
            "3e39bcd2.f762ec"
        ],
        "x": 1015,
        "y": 720,
        "wires": [
            [
                "c62d8950.3ff348"
            ]
        ]
    },
    {
        "id": "39aca286.53e55e",
        "type": "link in",
        "z": "84948027.4a9b98",
        "name": "Weather",
        "links": [
            "978bf2f9.8a012"
        ],
        "x": 295,
        "y": 180,
        "wires": [
            [
                "73db9abf.a14d3c"
            ]
        ]
    },
    {
        "id": "72cb321a.630334",
        "type": "link out",
        "z": "84948027.4a9b98",
        "name": "quase lá",
        "links": [
            "958af7bc.bd9f9"
        ],
        "x": 815,
        "y": 400,
        "wires": []
    },
    {
        "id": "73db9abf.a14d3c",
        "type": "function",
        "z": "84948027.4a9b98",
        "name": "",
        "func": "msg.hasloc = msg.payload.output.indexOf(\"[location]\")>-1;\nmsg.hasweather = msg.payload.output.indexOf(\"[climatempo]\")>-1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1b1c1176.a574ff"
            ]
        ]
    },
    {
        "id": "13d0a3c9.73233c",
        "type": "http request",
        "z": "84948027.4a9b98",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "http://api.iris-bot.com.br/entities",
        "tls": "",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "79352779.6d0c68"
            ]
        ]
    },
    {
        "id": "412436d8.2025d8",
        "type": "switch",
        "z": "84948027.4a9b98",
        "name": "",
        "property": "hasloc",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "c99d979.59431e8"
            ],
            [
                "5d401eb3.ecddc8"
            ]
        ]
    },
    {
        "id": "46430010.e3e3c8",
        "type": "function",
        "z": "84948027.4a9b98",
        "name": "",
        "func": "msg.payload = {\n    text: \"Gramado-RS\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "13d0a3c9.73233c"
            ]
        ]
    },
    {
        "id": "79352779.6d0c68",
        "type": "function",
        "z": "84948027.4a9b98",
        "name": "",
        "func": "msg.city = msg.payload[0].value;\n\nmsg.payload = msg.io;\n\nvar replaceAll = function(_find, _replace, _str){\n    while(_str.indexOf(_find)>-1){\n        _str = _str.replace(_find, _replace);\n    }\n    return _str;\n};\n\nmsg.payload = replaceAll(\"[location]\", msg.city, msg.payload.output);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "7c6dfe0b.010068"
            ]
        ]
    },
    {
        "id": "1b1c1176.a574ff",
        "type": "change",
        "z": "84948027.4a9b98",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "io",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "412436d8.2025d8"
            ]
        ]
    },
    {
        "id": "5d401eb3.ecddc8",
        "type": "change",
        "z": "84948027.4a9b98",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 200,
        "wires": [
            [
                "d9ba3509.644bd8"
            ]
        ]
    },
    {
        "id": "7c6dfe0b.010068",
        "type": "switch",
        "z": "84948027.4a9b98",
        "name": "",
        "property": "hasweather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "18474668.03e08a"
            ],
            [
                "404a7ab9.c53ce4"
            ]
        ]
    },
    {
        "id": "bc3fda11.f27788",
        "type": "http request",
        "z": "84948027.4a9b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "44e424e0.ba165c"
            ]
        ]
    },
    {
        "id": "44e424e0.ba165c",
        "type": "function",
        "z": "84948027.4a9b98",
        "name": "",
        "func": "msg.weather = msg.payload.results.forecast[0].description;\nmsg.maxtemp = msg.payload.results.forecast[0].max;\nmsg.mintemp = msg.payload.results.forecast[0].min;\nmsg.payload = msg.io;\n\nvar replaceAll = function(_find, _replace, _str){\n    while(_str.indexOf(_find)>-1){\n        _str = _str.replace(_find, _replace);\n    }\n    return _str;\n};\n\nmsg.payload = replaceAll(\"[climatempo]\", msg.weather + \", com maxima de \" + msg.maxtemp + \"ºC e minima de \" + msg.mintemp + \"ºC.\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "72cb321a.630334"
            ]
        ]
    },
    {
        "id": "7f2bcfa4.13a27",
        "type": "function",
        "z": "84948027.4a9b98",
        "name": "",
        "func": "msg.url = \"https://api.hgbrasil.com/weather/?format=json&city_name=\" + encodeURIComponent(msg.city) + \"&key=421c9382\"\nmsg.io = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "bc3fda11.f27788"
            ]
        ]
    },
    {
        "id": "cbddfaf9.b025a",
        "type": "link in",
        "z": "84948027.4a9b98",
        "name": "018",
        "links": [
            "18474668.03e08a"
        ],
        "x": 295,
        "y": 380,
        "wires": [
            [
                "7f2bcfa4.13a27"
            ]
        ]
    },
    {
        "id": "5cc22dad.317df4",
        "type": "link in",
        "z": "84948027.4a9b98",
        "name": "017",
        "links": [
            "c99d979.59431e8"
        ],
        "x": 295,
        "y": 280,
        "wires": [
            [
                "46430010.e3e3c8"
            ]
        ]
    },
    {
        "id": "c99d979.59431e8",
        "type": "link out",
        "z": "84948027.4a9b98",
        "name": "020",
        "links": [
            "5cc22dad.317df4"
        ],
        "x": 795,
        "y": 160,
        "wires": []
    },
    {
        "id": "18474668.03e08a",
        "type": "link out",
        "z": "84948027.4a9b98",
        "name": "022",
        "links": [
            "cbddfaf9.b025a"
        ],
        "x": 955,
        "y": 260,
        "wires": []
    },
    {
        "id": "404a7ab9.c53ce4",
        "type": "link out",
        "z": "84948027.4a9b98",
        "name": "023",
        "links": [
            "784a15cd.1c8c54"
        ],
        "x": 955,
        "y": 300,
        "wires": []
    },
    {
        "id": "784a15cd.1c8c54",
        "type": "link in",
        "z": "84948027.4a9b98",
        "name": "019",
        "links": [
            "404a7ab9.c53ce4",
            "d9ba3509.644bd8"
        ],
        "x": 735,
        "y": 420,
        "wires": [
            [
                "72cb321a.630334"
            ]
        ]
    },
    {
        "id": "d9ba3509.644bd8",
        "type": "link out",
        "z": "84948027.4a9b98",
        "name": "021",
        "links": [
            "784a15cd.1c8c54"
        ],
        "x": 955,
        "y": 200,
        "wires": []
    },
    {
        "id": "a146077d.bd0ae",
        "type": "function",
        "z": "eef12b42.be3b6",
        "name": "",
        "func": "var params = {\n    cx: \"011035894690471832161:yvie1z5f5xe\",\n    text: msg.payload,\n    apiKey: \"AIzaSyArjnwR1zm8C9Pt1dVMsGrCEWitUxZXVMs\"\n};\n\nvar q = \"?q=\" + encodeURIComponent(params.text);\nvar key = \"&key=\"+params.apiKey;\nvar cx = \"&cx=\"+params.cx;\n\nmsg.url = \"https://www.googleapis.com/customsearch/v1\"+q+key+cx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "96e29c8.594216"
            ]
        ]
    },
    {
        "id": "96e29c8.594216",
        "type": "http request",
        "z": "eef12b42.be3b6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "56ef5dbc.b11814"
            ]
        ]
    },
    {
        "id": "15d3ceee.aa1149",
        "type": "subflow:eef12b42.be3b6",
        "z": "9225475d.b072a8",
        "name": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "3cf6f166.000efe"
            ]
        ]
    },
    {
        "id": "56ef5dbc.b11814",
        "type": "function",
        "z": "eef12b42.be3b6",
        "name": "",
        "func": "try{\n    var item = msg.payload.items[0];\n    msg.payload = item.snippet + \" \" + item.link;\n}catch(e){\n    msg.payload = \"não tenho uma resposta para sua indagação, preciso aprender muito ainda...\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b369e0dc.d30ef8",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "",
        "func": "msg._payload = msg.payload.text;\nmsg.payload = {};\nmsg.payload = msg._payload;\nmsg.lang = \"pt\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "9d3f89ba.c8526"
            ]
        ]
    },
    {
        "id": "cc6b4229.703e48",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "Query",
        "func": "msg._payload = msg.payload;\nmsg.url = \"https://gateway.watsonplatform.net/discovery/api/v1/environments/43fa2d4e-c180-489f-a115-635497ab0366/collections/97ed1824-ec8f-4ce0-ae30-d661b3d3aa72/query?version=2017-11-07&deduplicate=true&deduplicate.field=id&highlight=false&passages=false&natural_language_query=\"+encodeURIComponent(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "f8ff7782.19064"
            ]
        ]
    },
    {
        "id": "f8ff7782.19064",
        "type": "http request",
        "z": "9225475d.b072a8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "f6d8d451.455d68"
            ]
        ]
    },
    {
        "id": "cebd6889.0c0538",
        "type": "switch",
        "z": "9225475d.b072a8",
        "name": "",
        "property": "payload.results[0].result_metadata.score",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "f0f14150.acc66"
            ],
            [
                "79b0918b.1ae1d8"
            ]
        ]
    },
    {
        "id": "3e39bcd2.f762ec",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "",
        "links": [
            "958af7bc.bd9f9"
        ],
        "x": 1075,
        "y": 600,
        "wires": []
    },
    {
        "id": "6aa4bf90.b232",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "",
        "links": [
            "958af7bc.bd9f9"
        ],
        "x": 1235,
        "y": 640,
        "wires": []
    },
    {
        "id": "79b0918b.1ae1d8",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "",
        "func": "msg.payload = msg._payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 640,
        "wires": [
            [
                "baf0ad59.9a44c8"
            ]
        ]
    },
    {
        "id": "baf0ad59.9a44c8",
        "type": "subflow:eef12b42.be3b6",
        "z": "9225475d.b072a8",
        "x": 1120,
        "y": 640,
        "wires": [
            [
                "6aa4bf90.b232"
            ]
        ]
    },
    {
        "id": "f0f14150.acc66",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "",
        "func": "msg.payload = msg.payload.results[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 600,
        "wires": [
            [
                "3e39bcd2.f762ec"
            ]
        ]
    },
    {
        "id": "3cf6f166.000efe",
        "type": "debug",
        "z": "9225475d.b072a8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "f6d8d451.455d68",
        "type": "debug",
        "z": "9225475d.b072a8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "f885acff.eeafe",
        "type": "natural-language-understanding",
        "z": "9225475d.b072a8",
        "name": "NLU",
        "categories": true,
        "concepts": true,
        "maxconcepts": "8",
        "doc-emotion": false,
        "doc-emotion-target": "",
        "doc-sentiment": false,
        "doc-sentiment-target": "",
        "entity": true,
        "entity-emotion": false,
        "entity-sentiment": false,
        "maxentities": "50",
        "keyword": true,
        "keyword-emotion": false,
        "keyword-sentiment": false,
        "maxkeywords": "50",
        "metadata": false,
        "relation": false,
        "semantic": false,
        "semantic-entities": false,
        "semantic-keywords": false,
        "maxsemantics": "50",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/natural-language-understanding/api",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "297cb537.01dbea"
            ]
        ]
    },
    {
        "id": "297cb537.01dbea",
        "type": "function",
        "z": "9225475d.b072a8",
        "name": "Query",
        "func": "msg._payload = msg.payload;\nmsg.url = \"https://gateway.watsonplatform.net/discovery/api/v1/environments/43fa2d4e-c180-489f-a115-635497ab0366/collections/97ed1824-ec8f-4ce0-ae30-d661b3d3aa72/query?version=2017-11-07&deduplicate=true&deduplicate.field=id&highlight=false&passages=false&natural_language_query=\"+encodeURIComponent(msg.features.categories[0].label);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "ec604152.d801b8"
            ]
        ]
    },
    {
        "id": "ec604152.d801b8",
        "type": "http request",
        "z": "9225475d.b072a8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 690,
        "y": 520,
        "wires": [
            [
                "5b3aa069.955148"
            ]
        ]
    },
    {
        "id": "5b3aa069.955148",
        "type": "debug",
        "z": "9225475d.b072a8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "938bfe96.5137e8",
        "type": "link in",
        "z": "9225475d.b072a8",
        "name": "",
        "links": [
            "3463cd02.bb86ca"
        ],
        "x": 295,
        "y": 480,
        "wires": [
            [
                "15d3ceee.aa1149",
                "cc6b4229.703e48",
                "f885acff.eeafe"
            ]
        ]
    },
    {
        "id": "3463cd02.bb86ca",
        "type": "link out",
        "z": "9225475d.b072a8",
        "name": "",
        "links": [
            "938bfe96.5137e8",
            "dc5493dc.023a7"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    }
]